# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so


# Distribution / packaging
.Python

build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/



##################################################
## PyCharm and Shotgun Stuff
*Thumbs.db
*.idea
*.git
install/apps/app_store
install/apps
install/apps/manual
install
install/engines
install/core.backup
install/core
install/frameworks
cache
cache/shotgun_windows_asset.txt
cache/shotgun_windows_task.txt
cache/shotgun_windows_project.txt
cache/shotgun_windows_shot.txt
cache/shotgun_windows_sequence.txt
config/env/!backup
tank.bat
tank